
// Body
$body-bg: #ffffff;

// Borders
$laravel-border-color: 'transparent';
$list-group-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #8FBC39;
$brand-info: #719926;
$brand-success: #2ab27b;
$brand-warning: #eda41d;
$brand-danger: #d0744f;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Gothic A1", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #292929;

// Navbar
$navbar-default-bg: #6B9942;
$navbar-default-border: lighten($navbar-default-bg, 2%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: $navbar-default-link-color;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 2%);
$navbar-default-link-active-bg: lighten($navbar-default-bg, 2%);
$dropdown-bg: lighten($navbar-default-bg, 2%);
$dropdown-link-color: $navbar-default-link-color;
$dropdown-link-hover-color: $navbar-default-link-color;
$dropdown-link-hover-bg: lighten($dropdown-bg, 3%);
$navbar-margin-bottom: 0px;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

$input-group-addon-bg: #fafff3;
$input-border: #98a483;

// Panels
$panel-default-heading-bg: #fff;
$panel-bg: #fff;
$panel-body-paddin:0px;
