// Fonts
@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Roboto");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// ------------------ OTHERS ------------------ //
.search-button{
    // padding-top:10px;
    text-align: right;
    float: right;
}

.from-button{
    padding-top:20px;
}

.navbar-logo{
    display: block;
    padding-top:10px;

    > img {
        width: 300px;
    }
}

.remove-float{
    float: none!important;
}


// ------------------ OVERRIDE BOOTSTRAP UI DESIGN ------------------ //
.page-header{
    padding-bottom: 0px;
    margin: 0px 0 15px;
    border-bottom: 1px solid #eeeeee;
}

.panel {
    border:0px;
    @include box-shadow(0px 0px 0px rgba(255, 255, 255, 1));
}

.form-inline{
    > .form-group{
        margin-right: 10px;
    }
}

.navbar-nav {
    > li > a {
        line-height: 5px;
    }
}

// ------------------ OVERRIDE ELEMENT UI DESIGN ------------------ //
.el-pagination{
    padding-top:20px!important;
}

.el-pagination button:hover {
    color: #719926!important;
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #719926!important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #719926!important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #719926!important;
    color: #fff!important;
}

.el-pager li:hover {
    color: #719926!important;
}

.el-pager li.active {
    color: #719926!important;
    cursor: default!important;
}

.el-table th{
    background-color: #f3f8ec!important;
    color:#5f5f5f!important;
}

.el-table td, .el-table th{
    padding:7px 0!important;
}

.el-dialog__header{
    border-bottom: 1px solid #eeeeee;
    padding:20px!important
}

.el-dialog__title{
    font-size: 30px!important;
    line-height: 35px!important;
}

.el-dialog__body{
    padding:20px!important;
}

.el-button--text{
    color: #6d961e!important;
}